<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>International Trade Administration</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/logo_jpg.jpg</loginLogo>
        <primaryColor>#0C3E71</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#FFFFFF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>Trade_Community/Trade_Community_Password_Reset</changePasswordTemplate>
    <emailSenderAddress>noreply@trade.gov</emailSenderAddress>
    <emailSenderName>ITA Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>Trade_Community/Trade_Community_Password_Reset</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Topics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Customer Trade Community User</profile>
        <profile>SolutionManager</profile>
        <profile>ContractManager</profile>
        <profile>Core Team</profile>
        <profile>Data Team Admin</profile>
        <profile>E%26C TANC</profile>
        <profile>GM Commercial Service</profile>
        <profile>GM SelectUSA</profile>
        <profile>I%26A</profile>
        <profile>ITA OPA%2FOLIA</profile>
        <profile>ITA User Read Only</profile>
        <profile>Security Review</profile>
        <profile>Salesforce Developer</profile>
        <profile>Help Desk Administration</profile>
        <profile>ReadOnly</profile>
        <profile>Integrated User Profile</profile>
        <profile>GM Advocacy</profile>
    </networkMemberGroups>
    <picassoSite>Trade_Community1</picassoSite>
    <selfRegProfile>customer trade community user</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Trade_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Home</customTab>
        <customTab>About_ITA</customTab>
        <defaultTab>01rt0000000L2bH</defaultTab>
    </tabs>
    <welcomeTemplate>Trade_Community/Trade_Community_Registration</welcomeTemplate>
</Network>
